@charset "utf-8";

table.main {
	border-collapse:collapse;
	border:2px solid black;
	margin-left:auto; margin-right:auto;		
}

td.title1 {
	border:1px solid grey; background-color:#e3e5e7;
	padding:5px; text-align:center;	
}

td.title2 {
	border:1px solid grey; background-color:#e3e5e7;
	padding:5px; text-align:right;			
	width:70px;
}

td.content1 {
	border:1px solid grey;
	padding:5px; text-align:center;		
}

td.content2 {
	border:1px solid grey;
	padding:5px;
	width:220px;	
}
